h1 {
  background-color: gold;
  color: white;
}

h2 {
  color: gold
  
}
h3 {
    color:gold
}

h4 {
    color: gold
}

.blok {
           color: gold
           width: 200px
            height: 100px
            


}

.content {
  padding: 40px;
  width: 300px;
  height: 300px
}


.Bas {
  color:mediumaquamarine;
  float: left;
  width: 300px;
}


body {
    background-image: url(../basbas.jpg)
}